// Miami 1985 Color Palette
$violet: #d080d7;
$hotPink: #e87fcd;
$powderPink: #f9d3ff;
$oceanGreen: #70bac9;
$skyBlue: #a7d0e3;
$softBlack: #272727;

$shadowBlue: #6c8ead;
$desertSand: #ead2ac;
$spicyMix: #885053;

body {
    display: table;
    width: 100%;
    height: auto;
    background: no-repeat bottom center scroll;
    background-color: $shadowBlue;
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    color: $softBlack;
    font-family: 'LemonMilk';
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    background-color: $shadowBlue;
    border: none;
}

.logo,
.locationTitle,
.currentTempDegrees,
.currentTempIcon,
.summaryForDay,
.sunArrowCombo,
.sunriseSunset-size {
    text-align: center;
    justify-content: center;
}

// Forms
input {
    background-color: $desertSand;
    color: $spicyMix;
}

.form-control:focus {
    border-color: $spicyMix;
    box-shadow: inset 0 1px 1px $spicyMix;
  }

.form-weatherOrPop::-moz-placeholder {
    color: $spicyMix;
}

.form-weatherOrPop:-ms-input-placeholder {
    color: $spicyMix;
}

.form-weatherOrPop::-webkit-input-placeholder {
    color: $spicyMix;
}

.form-weatherOrPop:focus {
    border-style: solid;
    border-color: $spicyMix;
    background-color: $desertSand;
    color: $spicyMix;
}

.form-weatherOrPop {
    color: $spicyMix;
    background-color: $desertSand;
    border-color: $spicyMix;
}

.currentTempDegrees-size {
    font-size: 2em;
}

.locationTitle,
.currentTempDegrees,
.currentTempIcon,
.summaryForDay {
    color: $desertSand;
    -webkit-text-stroke: 1px $spicyMix;
    text-shadow: 0px 0.1px 0.03px $spicyMix,
                 0px 0.2px 0.06px $spicyMix,
                 0px 0.3px 0.09px $spicyMix,
                 0px 0.4px 0.12px $spicyMix,
                 0px 0.5px 0.15px $spicyMix,
                 0px 0.6px 0.18px $spicyMix,
                 0px 0.7px 0.21px $spicyMix,
                 0px 0.8px 0.24px $spicyMix,
                 0px 0.9px 0.27px $spicyMix,
                 0px 1px   0.30px $spicyMix,
                 0px 1.1px 0.33px $spicyMix,
                 0px 1.2px 0.36px $spicyMix,
                 0px 1.3px 0.39px $spicyMix,
                 0px 1.4px 0.42px $spicyMix,
                 0px 1.5px 0.45px $spicyMix,
                 0px 1.6px 0.48px $spicyMix,
                 0px 1.7px 0.51px $spicyMix,
                 0px 1.8px 0.54px $spicyMix,
                 0px 1.9px 0.57px $spicyMix,
                 0px 2px   0.60px $spicyMix,
                 0px 2.1px 0.63px $spicyMix,
                 0px 2.2px 0.66px $spicyMix,
                 0px 2.3px 0.69px $spicyMix,
                 0px 2.4px 0.72px $spicyMix,
                 0px 2.5px 0.75px $spicyMix,
                 0px 2.6px 0.78px $spicyMix,
                 0px 2.7px 0.81px $spicyMix,
                 0px 2.8px 0.84px $spicyMix,
                 0px 2.9px 0.87px $spicyMix,
                 0px 3px   0.90px $spicyMix,
                 0px 3px   3px $spicyMix;
}

.coords-card2 {
    text-shadow: 1px 0.5px 0 $spicyMix,
}


// Media Queries
/* ---------------------------------------------------- */

/* Small devices (Phones, 768px) */

@media (max-width: 767px) and (orientation: portrait) {
    
}

@media (max-width: 767px) and (orientation: landscape) {
   
}

@media (max-width: 766px) and (orientation: landscape) {
   
}

/* ---------------------------------------------------- */

/* IPhone X and Pixel XL 2 */

@media (min-width: 812px) and (max-width: 823px) and (orientation: portrait) {
    
}

@media (min-width: 812px) and (max-width: 823px) and (orientation: landscape) {
   
}

/* ---------------------------------------------------- */

/* Ipad */

@media (min-width: 768px) and (max-width: 811px) and (orientation: portrait) {
    
}

@media (min-width: 824px) and (max-width: 1024px) and (orientation: landscape) {
    
}

/* Ipad Pro */

@media (min-width: 813px) and (max-width: 1024px) and (orientation: portrait) {
    
}

@media (min-width: 1025px) and (max-width: 1439px) and (orientation: landscape) {
   
}

/* ---------------------------------------------------- */

/* MDPI Screens (Computers, 1440px and up) */

@media (min-width: 1280px) and (max-width: 1280px) and (orientation: landscape) {
   
}

/* ---------------------------------------------------- */

/* Large devices (Computers, 1440px and up) */

@media (min-width: 1440px) and (orientation: landscape) {
    
}

/* ---------------------------------------------------- */